body{
background-color: rgba(125,84,84,0.5);
}
.logo {
background-color:rgb(148,129,114);
max-width:1200px;
min-width:320px;
font-size:18px;
padding:10px;
}
.bigbox { background-color: rgba(214, 179, 154,0.9); 
  /* example RGBA value */ padding: 30px auto 70px; 
  border-radius: 5px; min-width: 300px; max-width: 
  375px; min-height: 250px; max-height: 275px;
border:3px solid black;
}
#signup {
  justify-content: center; color: black; font-size: 
  10px;
}
.username { margin: 10px; padding: 5px;
}
.label { display: block; font-size: 10px;
}
.input { width: 100%; min-height: 10px; max-height: 
  25px;
}
.gender { font-size: 15px;
}
#reg {
justify-content: center; min-width: 70px; max-width: 
  90px; min-height: 14px; max-height: 19px;
}
